doctype html
html.h-full(lang="en")
  head
    meta(charset="UTF-8")
    title My Project
    link(rel="stylesheet", href="styles.css")
    script(src="https://unpkg.com/htmx.org@1.9.6", integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni", crossorigin="anonymous")
    script(src="https://unpkg.com/hyperscript.org@0.9.11")
  body.h-full
    include components/header.pug
    main.main
      block content
