extends ../layout.pug
block content
  div.w-full.flex.justify-end
    button.button__link( _=`on click 
                toggle .hidden on #filters then
                if my.innerText == 'Open filters' 
                  set my.innerText to 'Close filters' 
                otherwise  
                  set my.innerText to 'Open filters'
                `) Open filters
  div.hidden(id="filters")
    include ../components/filters.pug
  div(id="data-container")
  div.htmx-indicator(id="spinner") 
    div.htmx-indicator__text-container
      p Loading
  button.button__primary(hx-get="http://localhost:8080/random-user", hx-target="#data-container", hx-indicator="#spinner") Generate user
