extends ../layout.pug
block content
  button( _=`on click 
              toggle .hidden on #filters then
              if my.innerText == 'Open filters' 
                set my.innerText to 'Close filters' 
              otherwise  
                set my.innerText to 'Open filters'
              `) Open filters
  div.hidden(id="filters")
    include ../components/filters.pug
  div(id="data-container")
  button.button__primary(hx-get="http://localhost:8080/random-user", hx-target="#data-container") Generate user